@keyframes fromLeftToRight{
    0%{
        transform: translate(-75%);
    }
    25%{
        transform: translate(-50%);
    }
    50%{
        transform: translate(-25%);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes menuBtn {

    0% {
        translate: rotate(160deg);
    }
    100% {
        translate: rotate(360deg);
    }
}
@keyframes social-icon{
    0%{
        transform: translateY(-40%);
    }
    50%{
        transform: translateY(-60%);
    }
    100%{
        transform: translateY(0%);
    }
}