@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

//$main-color:rgb(73, 20, 220);
$main-color:#189db8;
$main-color-header:rgb(66, 61, 61);
$main-color-dark: darken($main-color,20);
$main-color-light:lighten($main-color,20);
$white: #fff;
$main-font-family: 'Cabin', sans-serif;
$black: #111;
$footer-text-color: #b3c54b;
$lighten-black: lighten(#222,30);
$red: red;
$icon-color: #8e24aa;
$lighten-green : lighten(green,30);
$matte-gray-color: #9C9B97;

